html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

div {
  width: 100% !important;
  height: 100% !important;
  background-color: rgb(82, 79, 248);
  text-align: center;
  position: fixed;
}

.mic {
  width: 75%;
  height: 75%;
  text-shadow: 10px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 50%;
  }
}
